<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Admin Module</h1>
    <div>
        @RenderBody()
    </div>
    <footer>
        <h5>Admin Footer</h5>
    </footer>
</body>
</html>
